body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.search_bar {

text-align: center;
margin-top: 50px;
border: 10px solid black;
border-radius: 16px;
padding: 5px;
}

.search_box {
    text-align: center;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;
    background-color:rgb(19, 19, 78);
}

.search_bar input {
    color:aliceblue;
}