<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href=".css/index.css" />
<link rel="stylesheet" type="text/css" href=".css/main.css" />

<head>
  <title>Cyberpunk2077</title>
</head>
<body class = "main">
    <div class="background-container">
        <p class="title"> Cyberpunk2077</p>
        <div class="row">
            <div class="column">
                <img class="poster"src="images/Cyberpunk2077_poster.png" width="600" height="900"/>
            </div>
            <div class="column">
                <div class="container">
                    <br/><br/>
                    <p><span class="label">Developer: </span><span><img src="images/CDPR logo.jpg" width="30" height="30"/></span><span class="text">CD Project Red</span></p>
                    <p><span class="label">Publisher: </span><span class="text">CD Project Red</span></p>
                    <p><span class="label">Engine: </span><span class="text">RED Engine</span></p>
                    <p><span class="label">Released in: </span><span class="text">2020</span></p>
                    <p><span class="label">Genre: </span><span class="text">action RPG</span></p>
                    <br/><br/>
                </div>
                <br/><br/>
                <div class="container">
                    <br/><br/>
                    <p><span class="label">In Library: </span><span class="text">GOG</span></p>
                    <p><span class="label">Bought in: </span><span class="text">2021</span></p>
                    <p><span class="label">Bought on: </span><span class="text">Instant Gaming</span></p>
                    <p><span class="label">Price: </span><span class="text">21€</span></p>
                    <br/><br/>
                </div>
                <br/><br/>
                <div class="container">
                    <table style="width:100%">
                        <tr>
                            <th class="label">Main:</th>
                            <th class="label">Secondary:</th>
                            <th class="label">Objectives:</th>
                        </tr>
                        <tr>
                            <td>     
                                <form class="form" action="login_process.php" method="post">                   
                                    <button class= "button" type="submit" > Completed </button>                    
                                </form>
                            </td>
                            <td>     
                                <form class="form" action="login_process.php" method="post">                   
                                    <button class= "button" type="submit" > Completed </button>                    
                                </form>
                            </td>
                            <td>     
                                <form class="form" action="login_process.php" method="post">                   
                                    <button class= "button" type="submit" > Completed </button>                    
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <br/><br/>
        <div class="container">
            <table style="width:100%">
                <tr>
                    <th class="label">Owned DLC:</th>
                </tr>
                <tr>
                    <td>     
                        <p class="text">Cyberpunk 2077: Phantom Liberty </p>
                    </td>
                </tr>
            </table>
        </div>
        <br/><br/>
        <div class="text">
            Cyberpunk 2077 is a 2020 action role-playing video game developed by CD Projekt Red and published by CD Projekt, based on video game designer Mike Pondsmith's game series. Set in a dystopian cyberpunk universe, the player assumes the role of "V" (played by Gavin Drea/Cherami Leigh), a mercenary in the fictional Californian city known as "Night City", where they deal with the fallout from a heist gone wrong that results in an experimental cybernetic "bio-chip" containing an engram of the legendary rock star and terrorist Johnny Silverhand (played by Keanu Reeves) threatening to slowly overwrite V's mind; as the story progresses V and Johnny must work together to find a way to be separated and save V's life.
            The game's development began following the release of The Witcher 3: Wild Hunt – Blood and Wine (2016). The game was developed by a team of around 500 people using the REDengine 4 game engine. CD Projekt launched a new division in Wrocław, Poland, and partnered with Digital Scapes, Nvidia, QLOC, and Jali Research to aid the production. Cyberpunk creator Mike Pondsmith was a consultant, and actor Keanu Reeves had a starring role. The original score was led by Marcin Przybyłowicz, and featured the contributions of several licensed artists. After years of anticipation, CD Projekt released Cyberpunk 2077 for PlayStation 4, Stadia, Windows, and Xbox One on 10 December 2020, followed by PlayStation 5 and Xbox Series X/S on 15 February 2022. 
        </div>
        <div>
            <iframe width="1250" height="703" src="https://www.youtube.com/embed/qIcTM8WXFjk" title="Cyberpunk 2077 – trailer ufficiale E3 2019" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
</body>
</html>